/* Quiz.css */

.container {
  max-width: 800px;
  margin: 30px auto 0;
  padding: 60px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #333;
}

hr {
  margin: 10px 0 20px;
}

.start-screen {
  padding: 20px;
}

.start-screen h2 {
  font-size: 1.5rem;
  color: #444;
  margin: 10px;
}

.start-screen p {
  margin: 10px;
  font-size: 1.2rem;
  color: #666;
}

#start {
  padding: 10px 20px;
  margin: 30px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #346850;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start:hover {
  background-color: #c9c0c6;
}

.media-container {
  display: flex; /* Görüntüyü merkezlemek için flexbox kullanın */
  justify-content: center; /* Yatayda merkezleme */
  align-items: center; /* Dikeyde merkezleme */
  margin-bottom: 15px; /* Alt boşluk ekleyin */
  border-radius: 10px; /* Kenarları yuvarlayın */
  overflow: hidden; /* Taşmayı önlemek için */
  width: 100%; /* Genişlik ayarı */
}

.question-media {
  width: 100%; /* Resmin genişliğini konteyner genişliğine ayarlama */
  height: 100%; /* Resmin yüksekliğini konteyner yüksekliğine ayarlama */
  object-fit: scale-down; /* Resmi konteyneri dolduracak şekilde boyutlandırma */
  border-radius: 10px; /* Kenarları yuvarlayın */
}

h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f8f9fa;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: #e2e6ea;
}

.timer {
  font-size: 1.5rem; /* Yazı boyutu */
  color: white; /* Yazı rengi beyaz */
  background-color: #333;
  border-radius: 50%; /* Yuvarlak görünüm */
  width: 70px; /* Genişlik ayarı */
  height: 70px; /* Yükseklik ayarı */
  display: flex; /* İçerik için flexbox kullanımı */
  align-items: center; /* Dikey ortalama */
  justify-content: center; /* Yatay ortalama */
  position: fixed; /* Sayfanın sağ kenarına sabitleme */
  right: 10px; /* Sağdan 10 piksel boşluk */
  top: 10px; /* Üstten 10 piksel boşluk */
  z-index: 1000; /* Diğer öğelerin üstünde görünmesi için z-index */
}

.index {
  font-size: 1rem;
  color: #706f6f;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #346850;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c9c0c6;
}

.results {
  padding: 20px;
}

.results h2 {
  font-size: 2rem;
  color: #333;
}

.results p {
  font-size: 1.5rem;
  color: #444;
  margin: 10px;
}

.results button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #346850;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.results button:hover {
  background-color: #c9c0c6;
}

/* Medya Sorguları ile Responsive Tasarım */

/* Küçük Ekranlar (mobil cihazlar) için */
@media (max-width: 600px) {
  .container {
    padding: 30px; /* Dış boşlukları azalt */
  }

  h1 {
    font-size: 2.5rem; /* Başlık boyutunu küçült */
  }

  h2 {
    font-size: 1.2rem; /* İkinci başlık boyutunu küçült */
  }

  #start {
    font-size: 1.2rem; /* Başlat butonu boyutunu küçült */
  }

  ul li {
    padding: 8px; /* Liste öğeleri için padding azalt */
  }

  .timer {
    width: 50px; /* Zamanlayıcı genişliğini küçült */
    height: 50px; /* Zamanlayıcı yüksekliğini küçült */
    font-size: 1.2rem; /* Zamanlayıcı yazı boyutunu küçült */
  }
  .results h2 {
    font-size: 1.5rem; /* Sonuç başlığı boyutunu küçült */
  }

  .results p {
    font-size: 1rem; /* Sonuç metin boyutunu küçült */
  }

  .results h3 {
    font-size: 1.2rem; /* Yanlış cevap başlığı boyutunu küçült */
  }

  .results button {
    padding: 8px 16px; /* Sonuç butonunun padding'ini küçült */
  }
}

/* Orta Ekranlar (tabletler) için */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    padding: 50px; /* Dış boşlukları azalt */
  }

  h1 {
    font-size: 2.8rem; /* Başlık boyutunu küçült */
  }

  h2 {
    font-size: 1.4rem; /* İkinci başlık boyutunu küçült */
  }

  #start {
    font-size: 1.4rem; /* Başlat butonu boyutunu küçült */
  }

  .timer {
    width: 60px; /* Zamanlayıcı genişliğini küçült */
    height: 60px; /* Zamanlayıcı yüksekliğini küçült */
    font-size: 1.4rem; /* Zamanlayıcı yazı boyutunu küçült */
  }
}

/* Büyük Ekranlar için (min-width: 901px) */
@media (min-width: 901px) {
  .container {
    padding: 80px; /* Daha fazla boşluk ekle */
  }

  h1 {
    font-size: 3.5rem; /* Başlık boyutunu artır */
  }

  h2 {
    font-size: 1.6rem; /* İkinci başlık boyutunu artır */
  }

  #start {
    font-size: 1.8rem; /* Başlat butonu boyutunu artır */
  }

  ul li {
    padding: 12px; /* Liste öğeleri için padding artır */
  }

  .timer {
    width: 80px; /* Zamanlayıcı genişliğini artır */
    height: 80px; /* Zamanlayıcı yüksekliğini artır */
    font-size: 1.6rem; /* Zamanlayıcı yazı boyutunu artır */
  }

  .results h2 {
    font-size: 2.5rem; /* Sonuç başlığını artır */
  }

  .results p {
    font-size: 1.8rem; /* Sonuç metnini artır */
  }

  .results button {
    padding: 12px 24px; /* Sonuç butonunun padding'ini artır */
    font-size: 1.2rem; /* Sonuç butonunun boyutunu artır */
  }
}
